[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "submodules/zplug"]
	path = submodules/zplug
	url = https://github.com/zplug/zplug
[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "submodules/tpm"]
	path = submodules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/gdb-dashboard"]
	path = submodules/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
